<!doctype html>
<html>
<head>
<% include header %>
<title>Request New Claim</title>
</head>
<body>
	<div class="loading" id='loading'>Loading&#8230;</div>
	<div class="container" id='content' style="display:none;">
		<div class="col-md-12">
			<br>
			<style type="text/css">
			/* Adjust feedback icon position */
			#claimrequestForm .form-control-feedback {
			    right: 15px;
			}
			#claimrequestForm .selectContainer .form-control-feedback {
			    right: 25px;
			}
			</style>

			<form id="claimrequestForm" method="post" action="/addclaim">
			    <div class="form-group">
			        <div class="row">
			            <div class="col-sm-8">
			                <label class="control-label">Climatic Claims Request</label>
			                <input type="text" class="form-control" name="title" />
			            </div>

			            <div class="col-sm-4 selectContainer">
			                <label class="control-label">Claim Type</label>
			                <select class="form-control" name="claimtype">
			                    <option value="">Choose a claim type</option>
			                    <option value="Damage Concession">Damage Concession</option>
			                    <option value="Damage Return">Damage Return</option>
			                    <option value="Scrap Unit">Damage Scrap</option>
			                    <option value="Service Related">Service Related Issue</option>
			                    <option value="Carrier Related">Carrier Related Issue</option>
			                </select>
			            </div>
			        </div>
			    </div>

			    <div class="form-group">
			        <div class="row">
			            <div class="col-sm-4">
			                <label class="control-label">Model Number</label>
			                <input type="text" class="form-control" name="itemID" />
			            </div>

			            <div class="col-sm-4">
			                <label class="control-label">Serial</label>
			                <input type="text" class="form-control" name="serialNo" />
			            </div>

			            <div class="col-sm-4 selectContainer">
			                <label class="control-label">Brand</label>
			                <select class="form-control" name="brand">
			                    <option value="">Please Select a Brand</option>
			                    <option value="Samsung">Samsung</option>
			                    <option value="LG Electronics">LG Electronics</option>
			                    <option value="Frigidaire">Frigidaire</option>
			                    <option value="Sharp">Sharp</option>
			                    <option value="Danby">Danby</option>
			                    <option value="Haier">Haier</option>
			                    <option value="Waste King">Waste King</option>
			                    <option value="Sanyo">Sanyo</option>
			                </select>
			            </div>
			        </div>
			    </div>

			    <div class="form-group">
			        <label class="control-label">Description of Damage</label>
			        <textarea class="form-control" name="claimNotes" rows="8"></textarea>
			    </div>

			    <div class="form-group">
			        <label class="control-label">Rating</label>
			        <div>
			            <label class="radio-inline">
			                <input type="radio" name="rating" value="markdown" /> Able to sell with markdown
			            </label>
			            <label class="radio-inline">
			                <input type="radio" name="rating" value="repair" /> Able to sell with repair
			            </label>
			            <label class="radio-inline">
			                <input type="radio" name="rating" value="irreparable" /> Irreparable
			            </label>
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="control-label">Replacement required</label>
			        <div>
			            <label class="radio-inline">
			                <input type="radio" name="replacement" value="replacement-yes" /> Yes
			            </label>
			            <label class="radio-inline">
			                <input type="radio" name="replacement" value="replacement-no" /> No
			            </label>
			        </div>
			    </div>
			    <div class="form-group">
			        <div>
			                <input type="hidden" name="accountID" value="<%= user.local.accountID %>" />
			                <input type="hidden" name="replacement" value="<%= user.local.email %>" />
			        </div>
			    </div>

			    <button type="submit" value="Add Item" class="btn btn-default">Request Claim</button>
			</form>
		</div>
	</div>
</body>
</html>