<html>

	<body>

		<h3>Setup Company</h3>
		<hr>

		<form action="" method="POST">

			<table>
				<tr>
					<td><label>Company Name</td>
					<td><input id="name" name="name" value="<%= name %>"></td>
				</tr>
				<tr>
					<td><label>CTS UID</td>
					<td><input id="ctsUID" name="ctsUID" value="<%= ctsUID %>"></td>
				</tr>
				<tr>
					<td><label>Google API Key</td>
					<td><input id="googleApiKey" name="googleApiKey" value="<%= googleApiKey %>"></td>
				</tr>
				<tr>
					<td><label>From Zips (comma delimited)</td>
					<td><input id="fromZips" name="fromZips" value="<%= fromZips.join(", ") %>"></td>
				</tr>
			</table>

			<button id="submit">Submit</button>

		</form>

	</body>

</html>