	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href="css/styles.css" rel="stylesheet">
    <style>
        body        { padding-top:80px; }
    </style>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
  	<br>
  	<div class="col-md-4">
      <a href="/">
        <img alt="Brand" src="http://climatichomeproducts.com/customer/demo01/images/logos/chp_logo.png" width='109px'>
      </a><br><br>
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    <span class="caret"></span> Navigation
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		  <li role="presentation" class="dropdown-header">Transportation</li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/rates.html">Rates</a></li>
		    <li role="presentation" class="dropdown-header">Claims</li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/claims.html">Claims</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/claimrequest.html">Request New Claim</a></li>
		    <li role="presentation" class="divider"></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/profile">My Profile</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">Logout</a></li>
		  </ul>
		</div>
    </div>
  <p class="navbar-text navbar-right">Signed in as <a href="/profile" class="navbar-link"><%= user.local.email %></a></p>
  </div>
  <br>
</nav>
<br>
<br>
<br>
 <% var tabletitle = 'sean'; %>