<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/ratingQuotes.css"></link>
	<script type="text/javascript" src="/js/jquery/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/js/ratingQuotes.js"></script>

	<title>MasterRater</title>
</head>

<body>
	<div id="contentWrapper" class="container-fluid">
		<h3>Climatic MasterRater</h3>
		<hr>

		<div id="form" class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h3 class="panel-title">Shipment Statistics</h3>
					</div>

					<div class="panel-body">
						<form id="form" class="form-horizontal ng-pristine ng-valid" role="form">
							<div class="form-group">
								<label class="col-sm-3 control-label">Destination Zip</label>
								<div class="col-sm-7">
									<input type="zip" class="col-sm-7 form-control" id="toZip" placeholder="">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">Shipment Weight</label>
								<div class="col-sm-7">
									<input type="number" class="form-control" id="weight" placeholder="">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">Shippable Dollars</label>
								<div class="col-sm-7">
									<input type="number" class="form-control" id="orderprice" placeholder="">
								</div>
							</div>

							<div class="form-group"></div>
						</form>
						
						<div class="col-sm-offset-3 col-sm-7">
							<button id="submitButton" class="btn btn-success pull-right">Blastoff</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="results"></div>
	</div>
</body>
</html>