<html>

	<body>

		<h3>Setup Company</h3>
		<hr>

		<form action="" method="POST">

			<table>
				<tr>
					<td><label>Company Name</td>
					<td><input id="companyName"></td>
				</tr>
				<tr>
					<td><label>CTS UID</td>
					<td><input id="ctsUID"></td>
				</tr>
				<tr>
					<td><label>Google API Key</td>
					<td><input id="googleApiKey"></td>
				</tr>
			</table>
			
			<button id="submit">Submit</button>

		</form>

	</body>

</html>