<html>
 <head>
 	<link rel="stylesheet" herf="/css/shippingRates.css"></link>
 	<script type="text/javascript" src="/js/jquery/jquery-1.11.1.min.js"></script>
 	<script type="text/javascript" src="/js/shippingRates.js"></script>
 </head>
 <body>
 	<div id="header">
 		Quick Shipping Quotes
 	</div>

 	<div id="form">
 		<form>
 			<table>
 				<tr>
 					<td><label>To Zip: </label></td>
 					<td><input id="toZip"></input></td>
 				</tr>
 				<tr>
 					<td><label>Weight: </label></td>
 					<td><input id="weight"></input></td>
 				</tr>
 				<tr>
 					<td></td>
 					<td></td>
 				</tr>
 			</table>
 		</form>

 		<button id="submitButton">Go</button>
 	</div>

	<div id="results">
		Results go here
 	</div>
 </body>
</html>